header {

    float: right;
    font-size: 20px;
    
}


.hyperlink {
    font-size: 10px;
    display:none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end
    
}



 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}



.get-to-know-me {
    position: absolute;
    bottom: 500px;
    left: 0;
    width: 200px;
    height: 100px
}



h2 {
    position: absolute;
    top: 200px;
    right: 50;
    width: 200px;
    height: 100px;
}