body {
    background-color:blanchedalmond;
}


.navbar { 
   display: flex;
   justify-content: flex-end;
   align-items: center;
}






body {
    background-color:blanchedalmond;
}


 


.get-to-know-me {
    position: absolute;
    bottom: 500px;
    left: 0;
    width: 200px;
    height: 100px;
}