.navbar {
    font-family: sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: space-between;
}


.navbar {
    padding: 10px;
    height: -1000px;
    text-align: center;
    background: #1a1a1a;
    color: #ff9900;
    border: solid;
    border-width: 10px;
    border-color: #1a1a1a;
    border-radius: 15px 30px 15px;
    color: #ff9900(255, 111, 0);
    


}

a:link {
    color: #26734d;


}

a:visited {
    color: #26734d;
}



a:hover {
    color: #ff9900;

}

a {
    text-decoration: none;

}



.header ul {
    font-family: sans-serif;
    position: absolute;
    top: 40px;
    right: 40px;
    word-spacing:5px;
}





body {
    background-color: #404040;
}



.hero-image {
    background-image: url('images/banner.jpg');
    background-size: 100%; 
    background-repeat: no-repeat; 
    height: 20%;
    background-position: center;
    position: relative;

}



.hero-image {
    width: 100%;
    height: auto;
    margin: auto;
    border: solid 2px;

}


.hero-text {
    font-family: sans-serif;
   
}




.get-to-know-me {
    font-family: sans-serif;
    font-stretch: condensed;
    display: flex;
    justify-content: baseline;


}

.about-me-section {
    font-family: sans-serif;
    font-stretch: extra-condensed;
}